body {
    margin: 0px;
    padding: 0px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header > #reset {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  font-weight: 500;
  line-height: 20px;
  font-size: 20px;
  padding: 15px 17px;
  cursor: pointer;
  text-align: center;
  transition: all 200ms;
}

#header > #colorText {
    margin-right: 225px;
    font-size: 40px;
}

.cell {
    background-color: black;
    width: 200px;
    height: 200px;
    margin: 20px;
    border-radius: 25px;
    transition: opacity 0.3s;
}